/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	width: 100vw;
	background-color: #005CB4;
	color: white;
	font-size: 15px;
	height: 100vh;
	min-width: 300px;
	overflow-x: hidden;
	line-height: 1.5;
	transition: background-color, 1s;


}

li{
	cursor: pointer;
}

button{
	cursor: pointer;
}


nav {
	max-height: 70px;
	width: 100vw;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	box-sizing: content-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.logo {
	display: flex;
	width: 20%;
	height: 100%;
	justify-content: space-evenly;


}


.logo img {
	width: 70px;

}



nav li {
	text-decoration: none;
	display: inline-flex;
	margin-left: 45px;
}

.BTN-LFT {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	flex-wrap: wrap;
	flex-shrink: 1;
	flex-grow: 1;
	padding-right: 70px;

}

main {
	display: flex;
	width: 100vw;
	height: 75vh;
	justify-content: space-between;
	font-family: 'Oswald', sans-serif;
	align-items: center;
}


.leftcontent {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	font-size: 17px;
	justify-content: center;
	flex-wrap: wrap;
	flex-shrink: 1;
	flex-grow: 1;
	padding-left: 8%;

}

.cta {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	margin-top: 10px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	flex-wrap: wrap;
	flex-shrink: 1;
}

.cta button {
	margin-top: 20px;
	width: 180px;
	height: 35px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	font-weight: 600;

}



main h1 {
	font-size: 70px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1.1;
	flex-shrink: 2;
}

#ilike {
	font-size: 80px;
	font-size: 800;


}

.pespiSelection {
	display: flex;
	justify-content: center;
	height: 12vh;
}


#pepsi-mainPage {
	height: 65vh;
}

.pespiSelection img {
	margin-right: 30px;
}

.pespiSelection img:hover{
	transform:translateY(-15px);
	transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}


.rightcontent {
	display: flex;
	max-width: 30%;
	height: 100%;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 4;
	justify-content: space-between;

}


.socialmediaicons {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	justify-content: center;
	width: 100%;
	padding-right: 10%;
	align-items: flex-end;
	font-size: 18px;
}

.socialmediaicons i {
	margin-bottom: 20px;
}

.toggle-button{
	display: none;
	 
}

.dropdown-menu{
	display: flex;
	background-color: white;
	width: 100%;
	height: 100%;
	position:fixed;
	color: black;
	z-index: 1;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	box-sizing: content-box;

}

.dropdown-items{
	display: flex;
	flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	box-sizing: content-box;

}

.dropdown-menu li{
	text-decoration-line: none;
	list-style: none;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 500;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	flex-shrink: 3;
}


#toggle-button-dropdown{
	font-size:30px;
	position: absolute;
	right: 20px;
	top: 10px;
}





/* RESPONSIVENESS - MOBILE DEVICES 800PX OR LOWER*/

@media screen and (max-width: 799px) {
	main {
		flex-direction: column;
		margin-left: 0px;
		width: 100%;
		height: 60%;
		margin-bottom: 30px;
		transition: all, 0.5s;

	}

	.leftcontent {
		padding-left: 50px;
		margin-top: 50px;
		flex-grow: 1;
		max-width: 100%;
		flex-grow: 1;
	}

	.logo img {
		width: 50px;

	}

	main h1 {
		font-size: 45px;
	}

	#ilike {
		font-size: 55px;
	}


	.cta button {
		width: 200px;
	}

	.rightcontent {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		height: 100%;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
		margin-top: 50px;

	}

	#pepsi-mainPage {
		height: 50vh;
	}

	.cta {
		font-size: 15px;
	}



	.socialmediaicons {
		display: none;
	}

	.pespiSelection {
		position: relative;
		left: 10px;
	}

	.BTN-LFT{display: none;}

	.toggle-button{
		display: inline;
		position: relative;
		width: 10vw;
		font-size: 30px;
	}

	




}

/* /////// */


